<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.noticeapp2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/profil"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user_dashboardfinal"
            android:label="@string/title_activity_user_dashboardfinal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".democardview" />
        <activity android:name=".admin_dashboard" />
        <activity android:name=".manageaccount" />
        <activity android:name=".feedbackuser" />
        <activity android:name=".responceadmin" />
        <activity
            android:name=".Login_Window"
            android:exported="true" />
        <activity android:name=".account_setup_profile" />
        <activity android:name=".Postingnotice_panel" />
        <activity android:name=".AboutUs" />
        <activity
            android:name=".Splash_Screen"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Help_page" />
        <activity
            android:name=".Registration"
            android:exported="true" />
        <activity
            android:name=".add_notice"
            android:exported="true" />
        <activity android:name=".new_dashboard" />
        <activity android:name=".admin_loginwindow" />
        <activity android:name=".adminnotice_addpage"
            android:exported="true"/>
        <activity android:name=".CardDemoActivity"
            android:exported="true"/>
    </application>

</manifest>